body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
header {
    position: relative;
    background-image: url(/img/background_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}
header::before {
    background: linear-gradient(360deg, rgb(167, 167, 167) 0%, rgba(255,255,255,0) 40%);
    position: absolute;
    content: '';
    height: 5%;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Блок меню*/
.main__wrap {
    position: relative;
    width: 1200px;
    margin: auto;
}
.main__wrap_menu {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.menu__items {
    margin: 0;
    margin-right: 40px;
    margin-top: 10px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 465px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.06em;
  }
.menu__items a {
    color:white;
}
.menu__items_cont .menu__items li {
    display: inline-block;
    position: relative;
    padding-top: 23px;
}
.menu__items_cont .menu__items li::after {
    content: '';
    width: 10%;
    height: 4px;
    background:white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 5px;
    opacity: 0;
    transition-duration: 0.3s;
}
.menu__items_cont .menu__items li:hover::after {
    opacity: 1;
    width: 100%;
}
.logo {
    margin-left: 10px;
    margin-top: 23px;
}
.nav__contacts {
    cursor: default;
    margin-top: 10px;
    margin-left: 70px;
    background: url(/icon/phone.png) no-repeat left center;
    background-size: 21px; 
    display:inline-block;
    vertical-align:bottom;
    padding-left: 10px;
    color: white;
}
.nav__contacts p {
    padding-left: 20px;
}
.nav__contacts_phone {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: white;
    margin: 0px;
}
.nav__contacts_time {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.06em;
    color: white;
    margin: 0px;
}

/*Главный экран*/
.main__screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.main__screen_img {
    margin-right: 150px;
    margin-bottom: 50px;
}
.main__screen_text {
    width: 500px;
    height: 195px;
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #ffffff;
    border: 4.9px solid #ffffff;
    margin-right: 50px;
}
.main__screen_text p {
    margin: 20px;
    margin-left: 33px;
    margin-top: 26px;
}

/*Блок навигации*/
.main__wrap_nav {
    margin: auto;
    width: 1200px;
}
.main__wrap_nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap__nav-cont_item {
    text-align: center;
    width: 300px;
    position: relative;
}
.wrap__nav-cont_item img {
    height: 200px;
    margin-top: 30px;
}
.wrap__nav-cont_item p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #666666;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrap__nav-cont_item:hover {
    background: #ce74f165;
    cursor: pointer;
    border-radius: 3px;
    transition-duration: 0.3s;
}
.wrap__nav-cont_item::after {
    content: '';
    width: 10%;
    height: 7px;
    background:#670e7a;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:1;
    opacity: 0;
    transition-duration: 0.3s;
}
.wrap__nav-cont_item:hover::after {
    opacity: 1;
    width: 100%;
    transition-duration: 0.3s;
}

/* Блок Услуги*/
.services {
    margin: auto;
    width: 1200px;
    margin-bottom: 60px;
}
.services h2 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #333333;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 100px;
    position: relative;
}
.services span {
    position: relative;
}
.services h2 span::before {
    content: '';
    position: absolute;
    background-image: url(/icon/block-3/item_title.png);
    background-size: 220px 10px;
    background-repeat: no-repeat; 
    top: 60px;
    height: 10px;
    width: 220px;
}
.services__cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.services__cont p {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #670e7a;
    margin: 0;
    margin-bottom: 60px;
}
.cont__item_text-6 {
    padding-top: 45px;
}
.services__cont_item {
    width: 400px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    transition-duration: 0.2s;
}
.services__cont_item i {
    font-size: 70px;
    color: #670e7a;
    padding: 100px;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 50px;
}
.services__cont_item:hover {
    background-color: #670e7a;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.5);
}
.services__cont_item:hover i {
    color: white;
}
.services__cont_item:hover p {
    color: white;
}

/*Блок вызов замерщика*/
.technician {
    min-height: 520px;
    position: relative;
    background-image: url(/img/фон.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.technician::before {
    background: linear-gradient(360deg, rgb(167, 167, 167) 0%, rgba(255,255,255,0) 40%);
    position: absolute;
    content: '';
    height: 5%;
    left: 0;
    right: 0;
    bottom: 0;
}
.technician__wrap {
    position: relative;
    width: 1200px;
    margin: auto;
}
.technician__wrap_content {
    width: 680px;
    height: 400px;
    padding-top: 90px;
    padding-left: 145px;
}
.technician__wrap_content h2 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.wrap__content_first-p {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #ffffff;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrap__content_second-p {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: none;
    letter-spacing: -0.06em;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.wrap_content_button {
    margin-top: 90px;
    margin-bottom: 60px;
    padding: 20px;
    background: white;
    border-color: transparent;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #cb0529;
}
.wrap_content_button:hover {
    background-color: #670e7a;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.5);
    color: white;
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

/*Блок преимущества*/
.advantages__cont {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.advantages__cont_item {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}
.advantages__cont_item img {
    margin-right: 30px;
}
.advantages__cont_item-text h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #670e7a;
}
.advantages__cont_item-text p {
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: -0.06em;
    color: #666666;
}
.advantages h2 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #333333;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 100px;
    position: relative;
}
.advantages span {
    position: relative;
}
.advantages h2 span::before {
    content: '';
    position: absolute;
    background-image: url(/icon/block-3/item_title.png);
    background-size: 220px 10px;
    background-repeat: no-repeat; 
    top: 60px;
    left: 30px;
    height: 10px;
    width: 220px;
}

/*Блок клиенты*/
.clients {
    position: relative;
    width: 1200px;
    margin: auto;
}
.clients h2 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #333333;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.clients span {
    position: relative;
}
.clients h2 span::before {
    content: '';
    position: absolute;
    background-image: url(/icon/block-3/item_title.png);
    background-size: 220px 10px;
    background-repeat: no-repeat; 
    top: 60px;
    left: 30px;
    height: 10px;
    width: 220px;
}
.clients__cont {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.clients__cont_item {
    width: 33%;
    text-align: center;
    margin-bottom: 80px;
}
.clients__cont_item img {
    width: 50%;
    margin: auto;
}


/*Блок производство*/
.manufactory {
    min-height: 450px;
    position: relative;
    background: url(/img/why-us-background.jpg) no-repeat fixed;
    background-size: cover;
}
.manufactory::before {
    background: linear-gradient(360deg, rgb(167, 167, 167) 0%, rgba(255,255,255,0) 40%);
    position: absolute;
    content: '';
    height: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.manufactory::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #660e7ada;
    z-index: 1;
}
.manufactory__cont {
    position: relative;
    width: 1200px;
    margin: auto;
    z-index: 2;
}
.manufactory__cont h2 {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 110px;
    position: relative;
}
.manufactory__cont span {
    position: relative;
}
.manufactory__cont h2 span::before {
    content: '';
    position: absolute;
    background-image: url(/icon/block-3/item_title.png);
    background-size: 220px 10px;
    background-repeat: no-repeat; 
    top: 60px;
    left: 150px;
    height: 10px;
    width: 220px;
}
.manufactory__cont p {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-bottom: 45px;
}
.manufactory__cont_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 70px;
    border: 2px solid white;
    text-decoration: none;
    color: #FFFFFF;
    transition-duration: 0.3s;
    margin: auto;
}
.manufactory__cont_link:hover {
    background: white;
    color: #670e7a;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.5);
    border-radius: 5px;
}
.manufactory__cont_link:hover p {
    color: #670e7a;
}
.manufactory__cont_link i {
    padding-right: 20px;
    font-size: 20px;
}
.manufactory__cont_link p {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #ffffff;
    padding: 0;
}

/*Блок контакты*/
.contacts {
    position: relative;
    width: 1200px;
    margin: auto;  
}
.contacts__cont {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts__cont_map {
    border: 5px solid #670e7a;
    margin-right: 70px;
    width: 440px;
    height: 370px;
    background: url(/img/карта.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.contacts__cont_text-title {
    font-size: 35px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #670e7a;
    margin-top: 0;
    margin-bottom: 45px;
}
.contacts__cont_text-p {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #cb0529;
    margin-top: 45px;
}
.contacts__cont_text ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}
.contacts__cont_text ul li {
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.06em;
    color: #333333;
}
.contacts__cont_list-item-1 {
    list-style-image: url(/icon/icon_address.png);
    padding-bottom: 30px;
}
.contacts__cont_list-item-2 {
    list-style-image: url(/icon/icon_phone.png);
    padding-bottom: 30px;
}
.contacts__cont_list-item-3 {
    list-style-image: url(/icon/icon_email.png);
}
.contacts__cont_text-button {
    width: 380px;
    height: 70px;
    padding: 0;
    background-color: #cb0529;
    border-color: transparent;
    border: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #ffffff;
}
.contacts__cont_text-button:hover {
    background: #670e7a;
    color: white;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.5);
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

/*Стили для скрытия элементов со страниц*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

/*Модальное окно - вызов замерщика*/
@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
.modal {
    position: fixed;
    background-color: white;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    border: 10px solid #670e7a;
    z-index: 3;
}
.modal-technician {
    width: 300px;
    padding: 50px 80px;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    display: none;
}
.modal-show-technician {
    display: block;
    animation: bounce 0.6s;
}
.modal-error-technician {
    animation: shake 0.6s;
}
.modal-close {
    position: absolute;
    top: -14px;
    right: -34px;
    width: 22px;
    height: 22px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 3px;
    background-color: #999595;
    top: 10px;
    left: 2px;
}
.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}
.modal-technician__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #670e7a;
}
.modal-technician__description {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.06em;
    color: #333333;
}
.form__order p {
    margin: 0;
    margin-bottom: 10px;
}
.form__order input[type="text"],
.form__order input[type="phone"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px;
    font: inherit;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.06em;
    color: #333333;
    border: 2px solid #670e7a;
}
.form__order input:hover {
    background: #33333327;
}
.form__order input:focus {
    background: #33333327;
}
.form__order .button {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: transparent;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #670e7a;
    border: 2px solid #670e7a;
}
.form__order .button:hover {
    background: #670e7a;
    color: white;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.5);
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

/*Модальное окно - бесплатная консультация*/
.modal {
    position: fixed;
    background-color: white;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    border: 10px solid #670e7a;
    z-index: 3;
}
.modal-consult {
    width: 300px;
    padding: 50px 80px;
    top: 120px;
    left: 50%;
    margin-left: -230px;
    display: none;
}
.modal-show-consult {
    display: block;
    animation: bounce 0.6s;
}
.modal-error-consult {
    animation: shake 0.6s;
}
.modal-close {
    position: absolute;
    top: -14px;
    right: -34px;
    width: 22px;
    height: 22px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    width: 19px;
    height: 3px;
    background-color: #999595;
    top: 10px;
    left: 2px;
}
.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}
.modal-consult__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #670e7a;
}
.modal-consult__description {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.06em;
    color: #333333;
}
.form__order p {
    margin: 0;
    margin-bottom: 10px;
}
.form__order input[type="text"],
.form__order input[type="phone"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px;
    font: inherit;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.06em;
    color: #333333;
    border: 2px solid #670e7a;
}
.form__order input:hover {
    background: #33333327;
}
.form__order input:focus {
    background: #33333327;
}
.form__order .button {
    width: 100%;
    margin: 0;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: transparent;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.06em;
    color: #670e7a;
    border: 2px solid #670e7a;
}
.form__order .button:hover {
    background: #670e7a;
    color: white;
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.5);
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}